variables:
  GIT_LFS_SKIP_SMUDGE: "1"

workflow:
  rules:
    - if: '$CI_COMMIT_REF_NAME != "cqc" && $CI_COMMIT_REF_NAME != "arc-summary"'
      when: always

image:
  name: "ghcr.io/nfdi4plants/arc-validate:main"

stages:
  - arc_json
  - quality_report_generator
  - quality_report
  - generate_metadata
  - arc_summary

ARC RO-Crate:
  stage: arc_json
  image: 
    name: ghcr.io/nfdi4plants/arc-export:main
    entrypoint: [""]
  variables:
    ARC_PATH: .
  script:
    - /arc-export -f rocrate-metadata -f isa-json -f summary-markdown -p .
    - 'curl --header "JOB-TOKEN: $CI_JOB_TOKEN" --upload-file arc-isa.json "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/isa_arc_json/0.0.1/arc.json"'
    - 'curl --header "JOB-TOKEN: $CI_JOB_TOKEN" --upload-file arc-isa.json "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/isa_arc_json/0.0.1/arc-isa.json"'
    - 'curl --header "JOB-TOKEN: $CI_JOB_TOKEN" --upload-file arc-ro-crate-metadata.json "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/isa_arc_json/0.0.1/arc-ro-crate-metadata.json"'
    - 'curl --header "JOB-TOKEN: $CI_JOB_TOKEN" --upload-file arc-summary.md "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/isa_arc_json/0.0.1/arc-summary.md"'
  artifacts:
    when: always
    paths:
      - arc.json
      - arc-summary.md

ARC Summary:
  stage: arc_summary
  needs: []
  image:
    name: ghcr.io/nfdi4plants/arc-summary:main
    entrypoint: [""]
  script:
    - env
    - /tool/ARCSummary summary -d .
      #    - /tool/ARCSummary summarymr -d . --api "$CI_API_V4_URL" "$DATAHUB_ARC_SERVICE" -i "$CI_PROJECT_PATH"
  rules:
    - exists:
      - .arc/arc_summary.yml
  artifacts:
    when: always
    paths:
      - README.md
    expire_in: 1 hour

quality_report_generator:
  stage: quality_report_generator
  rules:
    - if: $CI_COMMIT_REF_NAME != "cqc"
    - exists:
      - .arc/validation_packages.yml
  script:
    - |
      if [ ! -e "${CI_PROJECT_DIR}/.arc/validation_packages.yml" ]; then
        exit 0
      fi
    - |
      cat << EOF > quality_reports.yml
      stages:
        - arc_validation
        - generate_metadata
      EOF
    - |
      arc_validation_spec="$(yq -r '.arc_specification // ""' ${CI_PROJECT_DIR}/.arc/validation_packages.yml)"
      if [ -n "$arc_validation_spec" ]; then
        cat << EOF >> quality_reports.yml
      validate-arc:
        stage: arc_validation
        image: "ghcr.io/nfdi4plants/arc-validate:main"
        script:
          - arc-validate validate --specification-version "$arc_validation_spec"
          - ret=$?
          - mkdir -p "${CI_COMMIT_BRANCH}"
          - mv ".arc-validate-results/${p}"* "${CI_COMMIT_BRANCH}"
          - find "$CI_COMMIT_BRANCH" || true
          - exit $ret
        artifacts:
          when: always
          paths:
            - $CI_COMMIT_BRANCH/*/*
          reports:
            junit:
              - $CI_COMMIT_BRANCH/*/*.xml
          expire_in: 1 hour
      EOF
      fi
      while read -r p v ; do
        install_command=("arc-validate" "package" "install" "$p")
        validate_command=("arc-validate" "validate" "-p" "$p")
        [ "$v" = "null" ] && v=""
        if [ -n "$v" ]; then
          install_command+=("-v" "$v")
          validate_command+=("-v" "$v")
        fi

        cat << EOF >> quality_reports.yml
      validate-${p}:
        stage: arc_validation
        image: "ghcr.io/nfdi4plants/arc-validate:main"
        script:
          - ${install_command[@]}
          - ${validate_command[@]}
          - ret=$?
          - mkdir -p "${CI_COMMIT_BRANCH}"
          - mv ".arc-validate-results/${p}"* "${CI_COMMIT_BRANCH}"
          - find "$CI_COMMIT_BRANCH" || true
          - exit $ret
        artifacts:
          when: always
          paths:
            - $CI_COMMIT_BRANCH/*/*
          reports:
            junit:
              - $CI_COMMIT_BRANCH/*/*.xml
          expire_in: 1 hour
      EOF
        if [ "$p" = "invenio" ]; then
          cat << EOF >> quality_reports.yml
      Publication Metadata:
        stage: generate_metadata
        needs:
          - validate-invenio
        image: ghcr.io/nfdi4plants/arc-to-invenio:main
        script:
          - echo "Creating publication metadata..."
          - arc-to-invenio -p .
        artifacts:
          when: always
          paths:
            - metadata.json
        when: always
      EOF
        fi
        cat quality_reports.yml
      done < <(yq -r '.validation_packages[] | "\(.name) \(.version)"' ${CI_PROJECT_DIR}/.arc/validation_packages.yml )
  artifacts:
    when: always
    paths:
      - quality_reports.yml
    expire_in: 1 hour

quality_report:
  stage: quality_report
  trigger:
    include:
      - artifact: quality_reports.yml
        job: quality_report_generator
  rules:
    - exists:
      - .arc/validation_packages.yml


